<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <% var title = "Página não encontrada!" %>
    <% include partials/_header.ejs %>
    <link rel="stylesheet" href="/stylesheets/denied.css">
  </head>
<body class="container-fluid">
  
  <div id="box" class="col-lg-4">
    <h6 class="alert alert-danger text-center">
      Oops! Essa página não existe. </h6>

    <br />

    <a class="btn btn-block btn-dark" href="<%= back %>">Voltar</a>
      
  </div>

  <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>